amqp==2.3.2
billiard==3.5.0.5
celery==4.2.1
Django==2.1.4
django-celery-beat==1.4.0
django-timezone-field==3.0
kombu==4.2.2.post1
psycopg2==2.7.6.1
python-crontab==2.3.5
python-dateutil==2.7.5
pytz==2018.7
redis==3.0.1
six==1.12.0
vine==1.1.4
